.main{
    padding:20px;
}

li {
    list-style-type: none;
}

ul {
    margin-bottom: 0px;
}
.avatar-group{
    width: 200px;
    margin: auto;
}

.question-info{
    text-align: center;
}

.movie-content{
    width:600px;
    margin: auto;

}

.comment-group-title{
    width:600px;
    margin-top: 20px;
    margin:auto;
}

.form-container{
    width: 600px;
    margin-top: 10px;
    text-align: right;
    margin:auto;
}

.coment-title{
    font:italic bold 18px/28px arial,sans-serif;
    font-family: "黑体" "Microsoft YaHei";
}
.coment-coment{
    font: 14px/24px arial,sans-serif;
    font-family:"仿宋" STXihei;
}

.comment-group li{
    border-bottom:1px solid #eee;
    padding: 10px 0;
}

.comment-group li .user-info{
    height: 40px;
    line-height:40px;
    color: #9b9b9b;
    font-size: 16px;
}

.user-info .avatar{
    height:40px;
    width: 40px;
    float: left;
    border-radius: 50%;
}

.user-info .username{
    margin-left: 10px;
}
.user-info .create-time{
    float: right;
}
.comment-content{
    margin-left: 50px;
}