{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}

{% block main %}
    <ul class="movie-list-group">
            <li>
                <div class="avatar-group">
                    <img src="{{ url_for('static',filename = fun(movie.cover_url) ) }}" alt="" class="avatar">
                </div>
                <div class="movie-group">
                    <div class="movie-title-rank">
                        <span class="movie-title"><a href="{{ movie.url }}">{{ movie.title}}</a></span>
                        <span class="rank-num">{{ movie.rank }}</span>
                    </div>
                    <div class="movie-content">
                         <p class="movie-content-info">
                            <p>
                                <span>{{ movie.regions}}</span>
                                <span>{{ movie.types }}</span>
                                <span>{{ movie.release_date }}</span>
                            </p>
                            <span>主要演员：{{ movie.actors }}</span>
                            <span></span>
                        </p>
                    </div>
                    <div class="movie-info">
                        <span class="movie-author">{{ movie.score }}分</span>
                        <span class="movie-time">{{ movie.vote_count}}人评价</span>
                    </div>
                </div>
            </li>
    </ul>

    <hr>
    <h4 class="comment-group-title">评论（{{ commentinfos |length }}）：</h4>
    <form action="#" method="post">
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <div class="form-container">
            <div class="form-group">
                <input type="text" placeholder="请填写评论" name="content" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">评论</button>
            </div>
        </div>
    </form>
    <ul class="comment-group">
        {% for commentinfo in commentinfos %}
            <li>
                <div class="user-info">
                    <img class="avatar" src="{{ url_for('static',filename='images/zhiliao.png') }}" alt="">
                    <span class="username">{{ commentinfo.author.username }}</span>
                    <span class="create-time">{{ commentinfo.create_time }}</span>
                </div>
                <p class="comment-content">{{ commentinfo.comment_info }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}