{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}

{% block main %}
    <h3 class="page-title">{{ movie.title }}</h3>
    <p class="question-info">
        <span>{{ movie.regions}}</span>
        <span>{{ movie.types | replace(',','/') }}</span>
        <span>{{ movie.release_date }}</span>
        <span class="movie-author">豆瓣评分：{{ movie.score }}分</span>
    </p>
    <hr>
    <div class="avatar-group" >
        <img src="{{ url_for('static',filename = fun(movie.cover_url) ) }}" alt="" >
    </div>
    <hr>
    <ul class="movie-list-group">
            <li>
                <div class="movie-group">
                    <div class="movie-content">
                             {% if movie.related_info %}
                                <p ><span class="coment-title">电影简介：</span><span class="coment-coment">{{ movie.related_info | replace('[','') | replace(']','') |replace('"','') }}</span></p>
                             {% else %}
                                <p ><span class="coment-title">电影简介：</span><span class="coment-coment">该电影还没有剧情介绍。。。。。。</span></p>
                             {% endif %}

                        <p><span class="coment-title">主要演员：</span><span  class="coment-coment">{{ movie.actors }}</span></p>
                    </div>
                    <div class="movie-info">

                    </div>
                </div>
            </li>
    </ul>

    <hr>
    <div class="comment-group-title">
        <h4 >评论（{{ commentinfos |length }}）：</h4>
    </div>

    <form action="{{ url_for('add_comment') }}" method="post">
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        <div class="form-container">
            <div class="form-group">
                <input type="text" placeholder="请填写评论" name="content" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">评论</button>
            </div>
        </div>
    </form>
    <ul class="comment-group">
        {% for commentinfo in commentinfos %}
            <li>
                <div class="user-info">
                    <img class="avatar" src="{{ url_for('static',filename='images/timg.jpeg') }}" alt="">
                    <span class="username">{{ commentinfo.author.username | replace('[','') | replace(']','') |replace('"','') }}</span>
                    <span class="create-time">{{ commentinfo.create_time }}</span>
                </div>
                <p class="comment-content">{{ commentinfo.comment_info | replace('[','') | replace(']','') |replace('"','') }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}